[submodule "liquidity_prices_attack/lib/forge-std"]
	path = liquidity_prices_attack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "liquidity_prices_attack/lib/openzeppelin-contracts"]
	path = liquidity_prices_attack/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
