[submodule "liquidity_prices_attack/lib/forge-std"]
	path = liquidity_prices_attack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "liquidity_prices_attack/lib/openzeppelin-contracts"]
	path = liquidity_prices_attack/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "excessive_refund_attack/lib/forge-std"]
	path = excessive_refund_attack/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity_yul_test/lib/forge-std"]
	path = solidity_yul_test/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
